header {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, rgba(80, 80, 231, .5), rgb(80, 80, 231));
}

header .search {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  flex: .5;
  padding: .8rem 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

header .search input {
  outline: none;
  border: none;
  width: 100%;
  margin-left: 1.2rem;
  font-size: .95rem;
}

header .search > .icon {
  position: absolute;
  left: 0.7rem;
  color: gray;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: start;
  }

  header .search {
    flex: 1;
    width: 100%;
  }

  form {
    width: 90% !important;
  }
}

.filterBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 10%;
  gap: 2rem;
  margin: 4rem 0 2.5rem;
}

.filterBtns > button {
  background-color: white;
  display: flex;
  align-items: center;
  gap: .8rem;
  color: gray;
  font-size: 1rem;
  padding: .5rem 1.5rem;
  outline: none;
  border: 2px solid rgb(80, 80, 231);
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.filterBtns > button > .cancelIcon {
  color: white;
}

.filterBtns > button:hover {
  background-color: rgba(80, 80, 231, .5);
  color: black;
}

.filterBtns > button:disabled {
  cursor: not-allowed;
  opacity: .5
}

.activeBtn {
  background-color: rgba(80, 80, 231) !important;
  padding: 0.6rem 1.5rem !important;
  color: white !important;
  font-weight: 700;
}

.create {
  position: relative;
}

.create > p {
  padding: 0.3rem 1rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.create > p > span {
  font-weight: 800;
  font-size: 1.1rem;
}

.create > p:hover {
  text-decoration: underline;
}

.form {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: absolute;
  top: 2%;
  background-color: white;
  padding: 1rem;
  width: 70%;
  max-width: 50rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation: showForm 2s linear;
  -webkit-animation: showForm .36s linear;
}

@keyframes showForm {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
  to {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroup > label {
  color: gray;
  font-size: .9rem;
  margin-bottom: 0.3rem;
}

.formGroup > input, textarea {
  padding: .5rem;
  border: none;
  box-shadow: 0 0 3px -0.7px rgba(0, 0, 0, .5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.formGroup > textarea {
  resize: vertical;
  height: 8rem;
  outline: none;
}

.select:focus {
  padding: 0 !important;
  border-color: gray !important;
  background-color: red !important;
}

.emptyInput {
  border: 1px solid rgb(238, 31, 31) !important;
  box-shadow: none !important;
}

.correctInput {
  border-color: rgb(54, 199, 54) !important;
}

.errorMessage {
  color: rgb(248, 46, 46);
  font-size: .85rem;
  margin: 0;
  margin-top: 2px;
}

.formGroup > input:focus, textarea:focus {
  border: 1px solid gray;
  outline: none;
  box-shadow: none;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.btns > button {
  padding: .7rem 1rem;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.saveBtn {
  background-color: rgb(54, 199, 54);
}

.cancelBtn {
  background-color: tomato;
}

/* =============== Articles ============= */
.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 10%;
}

.article {
  width: 20rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px 3px 15px -5px rgba(0, 0, 0, .5);
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
}

.article:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.articleHead {
  height: 12rem;
  position: relative;
}

.articleHead > p {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(57, 57, 221, .8);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
}

.articleHead > img {
  width: 100%;
  height: 100%;
}

.articleBody {
  /* height: 6rem; */
  padding: 1rem;
  /* background-color: red; */
}

.articleTitle {
  cursor: pointer;
}

.articleTitle:hover {
  color: rgb(57, 57, 221, .8);
}

.articleBody > .date {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: gray;
  font-weight: 500;
  font-size: .95rem;
}